/* ================================ */
/* ================================ */
/* Header Section */
/* ================================ */
/* ================================ */

/* Header Background */
.header {
  position: relative;
  background-image: url(Assets/header.svg);
  height: 250px;
  width: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Styling major header elements */
.header-div {
  display: flex;
  padding-top: 26px;
}
/* Logo of the header section */
.logo-header {
  width: 40px;
  height: auto;
  margin-left: 8.82vw;
  padding-right: 1.875vw;
  margin-right: 1.875vw;
  border-right: solid #fff 2px;
}
/* title of the header section */
.title-header {
  color: #fff;
  font-size: 12px;
  margin-right: 8.06vw;
}
/* Header search Form */
.header-search-form {
  display: flex;
  height: 42px;
  width: max-content;
}
.header-search-form input {
  width: 19.375vw;
  padding: 5px;
  padding-left: 10px;
  padding-right: 35px;
  background: transparent;
  border: solid #fff 2px;
  border-radius: 20px;
  color: #fff;
}
.header-search-form input:focus {
  outline: none;
}
/* Removing cross icon from search field */
/* Compatible for Chrome and Safari */
.header-search-form input[type="search"]::-webkit-search-decoration,
.header-search-form input[type="search"]::-webkit-search-cancel-button,
.header-search-form input[type="search"]::-webkit-search-results-button,
.header-search-form input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* Compatible for Explorer and Edge */
.header-search-form input[type="search"]::-ms-clear,
.header-search-form input[type="search"]::-ms-reveal {
  display: none;
}
/* styling the search button in search field of header */
.search-button {
  position: relative;
  left: -33px;
  top: 1.5px;
  background: none;
  border: none;
  color: #fff;
}
.search-button:hover {
  cursor: pointer;
}
/* Styling Navigation links in header section */
.navigation-header {
  display: flex;
  align-items: center;
  gap: 3.26vw;
  margin-left: 5vw;
  margin-right: 4.1vw;
  margin-top: 9px;
  height: fit-content;
}
.navigation-header a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.navigation-header a:hover {
  cursor: pointer;
}
.curr-nav {
  font-weight: 600 !important;
}
.cart-button {
  background: none;
  border: none;
}
.cart-button:hover {
  cursor: pointer;
}
.cart-logo {
  width: 30px;
  height: auto;
}
/* Styling the login/signup button in header */
.login-button {
  width: 11.25vw;
  max-width: 162px;
  height: 42px;
  background-color: #c42116;
  color: #fff;
  font-size: 15px;
  border-radius: 20px;
  border: none;
}
.login-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}
.login-button:active {
  font-weight: bold;
}
/* ============================== */
/* Section Divider */
/* ============================= */
.sec-div {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-right: 140px;
}
.div-arr {
  width: 150px;
}
.inventory-title {
  font-size: 18px;
  padding: 10px 50px;
  border: 1px solid #000;
  border-radius: 25px;
  background-color: #f5fbffff;
}
/* =========================== */
/* Article Section */
/* =========================== */
/* master container */
.master-container {
  display: flex;
  width: 1120px;
  margin-top: 51px;
  margin-left: auto;
  margin-right: auto;
}
/* categories */
.category-selector {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.categories-content {
  display: flex;
  align-items: center;
  gap: 17px;
}
.categories-button {
  background: none;
  border: none;
  width: 203px;
  height: 70px;
}
.categories-button:hover {
  cursor: pointer;
}
.active-button {
  background-color: #d2d4f3ea;
  border-radius: 10px 0px 0px 10px;
  border-left: 10px solid #4b55ceff;
}
.categories-logo {
  width: 40px;
  height: auto;
  margin-left: 19px;
}
.active-cat {
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
}
.inactive-cat {
  padding: 5px;
  border-radius: 50%;
  background-color: #e0effaff;
}
.categories-txt {
  font-size: 18px;
}
/* products */
.product-grid {
  display: grid;
  grid-template-columns: 248px 248px 248px 248px;
  grid-gap: 2px;
  background-color: #d4d4d4;
  border: 2px solid #d4d4d4;
}
.product {
  height: 310px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-img {
  width: 137px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.prod-name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 25px;
  margin-left: 21px;
}
.avail-quantity {
  font-size: 15px;
  font-weight: 500;
  color: #5c5c5c;
  margin-top: 19px;
  margin-left: 21px;
}
.issue-prod {
  display: flex;
  align-items: center;
  gap: 55px;
  margin-top: 25px;
  margin-left: 21px;
}
.availability {
  font-size: 18px;
  font-weight: 500;
}
.add-cart-butt {
  width: 60px;
  height: 35px;
  background: none;
  border-radius: 10px;
  border: 2px solid #4b55ce;
  color: #4b55ce;
  font-size: 15px;
  font-weight: 500;
}
.add-cart-butt:hover {
  cursor: pointer;
}
/* ================================ */
/* Footer Section */
/* ================================ */
/* Footer top */
.footer-top {
  width: 100%;
  margin-top: 86px;
  height: max-content;
  background-color: #1d3140ff;
  display: flex;
  position: relative;
}
/* Footer-top contents */
/* Follow-section */
.follow-section {
  margin-top: 60px;
  margin-left: 8.54167vw;
}
.logo-footer {
  width: 67px;
  height: auto;
  margin-bottom: 29px;
}
.follow-head {
  font-weight: bold;
  color: #249ffe;
  margin-bottom: 38px;
}
.follow-body {
  color: #fff;
  font-size: 18px;
  margin-bottom: 18px;
}
.follow-links {
  display: flex;
  gap: 1.25vw;
}
.follow-buttons {
  background: none;
  border: none;
}
.follow-buttons:hover {
  cursor: pointer;
}
/* Support Section */
.support-section {
  margin-top: 58px;
  margin-left: 22.222vw;
}
.support-title {
  color: #249ffe;
  font-size: 18px;
  font-weight: bold;
}
.support-nav {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  font-size: 18px;
}
.support-links {
  text-decoration: none;
  color: #fff;
}
/* Contact Section */
.contact-section {
  margin-top: 58px;
  margin-left: 10.06944vw;
}
.contact-head {
  color: #249ffe;
  font-weight: bold;
  font-size: 18px;
}
.contact-body {
  color: #fff;
  font-size: 18px;
}
/* Location */
.location-group {
  display: flex;
  gap: 8px;
  margin-top: 15.5px;
  margin-bottom: 15.5px;
}
.location-logo {
  width: 15px;
  height: 20px;
}
/* Helpline */
.helpline-group {
  display: flex;
  gap: 8px;
  margin-top: 15.5px;
  margin-bottom: 15.5px;
}
/* Toll */
.toll-group {
  display: flex;
  gap: 8px;
  margin-top: 15.5px;
  margin-bottom: 15.5px;
}
/* Email */
.email-group {
  display: flex;
  gap: 8px;
  margin-top: 15.5px;
  padding-bottom: 59.5px;
}

/* Footer Bottom */
.footer-bottom {
  width: 100%;
  height: max-content;
  background-color: #112330ff;
  display: flex;
}
.copyright {
  color: #fff;
  font-size: 15px;
  margin-top: 32.5px;
  margin-left: 8.4722vw;
  margin-bottom: 29px;
}
.privacy-policy {
  text-decoration: none;
  color: #fff;
  margin-top: 32.5px;
  margin-left: 39.23vw;
  margin-bottom: 29px;
}
