/* Centring the page */
body {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

/* ================================ */
/* ================================ */
/* Header Section */
/* ================================ */
/* ================================ */

/* Header Background */
.header {
  position: relative;
  background-image: url(Assets/header.svg);
  height: 250px;
  width: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Styling major header elements */
.header-div {
  display: flex;
  padding-top: 26px;
}
/* Logo of the header section */
.logo-header {
  width: 40px;
  height: auto;
  margin-left: 8.82vw;
  padding-right: 1.875vw;
  margin-right: 1.875vw;
  border-right: solid #fff 2px;
}
/* title of the header section */
.title-header {
  color: #fff;
  font-size: 12px;
  margin-right: 8.06vw;
}
/* Header search Form */
.header-search-form {
  display: flex;
  height: 42px;
  width: max-content;
}
.header-search-form input {
  width: 19.375vw;
  padding: 5px;
  padding-left: 10px;
  padding-right: 35px;
  background: transparent;
  border: solid #fff 2px;
  border-radius: 20px;
  color: #fff;
}
.header-search-form input:focus {
  outline: none;
}
/* Removing cross icon from search field */
/* Compatible for Chrome and Safari */
.header-search-form input[type="search"]::-webkit-search-decoration,
.header-search-form input[type="search"]::-webkit-search-cancel-button,
.header-search-form input[type="search"]::-webkit-search-results-button,
.header-search-form input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* Compatible for Explorer and Edge */
.header-search-form input[type="search"]::-ms-clear,
.header-search-form input[type="search"]::-ms-reveal {
  display: none;
}
/* styling the search button in search field of header */
.search-button {
  position: relative;
  left: -33px;
  top: 1.5px;
  background: none;
  border: none;
  color: #fff;
}
.search-button:hover {
  cursor: pointer;
}
/* Styling Navigation links in header section */
.navigation-header {
  display: flex;
  gap: 3.26vw;
  margin-left: 7.7083vw;
  margin-right: 4.1vw;
  padding-top: 9px;
}
.navigation-header a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.navigation-header a:hover {
  cursor: pointer;
}
/* Login */
/* Mian container */
.login-main {
  display: flex;
  justify-content: center;
  margin: auto;
}
/* Main image */
.main-img {
  width: 508px;
  height: 784px;
}
/* Bg overlay */
.bg-overlay {
  width: fit-content;
  background-color: #fff;
}
/* title text */
.login-title {
  font-size: 38px;
  margin-top: 152px;
  margin-left: 102px;
}
/* body text */
.login-body {
  font-size: 18px;
  margin-top: 34px;
  margin-left: 102px;
}
/* Login form - master container */
.login-form {
  width: 508px;
  height: fit-content;
  margin-top: 42px;
  margin-left: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Input fields */
.input-field {
  width: 471px;
  height: 52.64px;
  font-size: 16px;
  font-weight: 500;
  color: #a7a7a7;
  padding-left: 21px;
  padding-right: 10px;
  border: solid #a7a7a7 3px;
  border-radius: 10px;
}
.input-field::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #a7a7a7;
}
.input-field:focus {
  outline: none;
}
/* Password field */
.pass-field {
  margin-top: 44px;
}
/* Forgot Password */
.forgot-pass-link {
  width: 145px;
  font-size: 18px;
  color: #23a0ff;
  font-weight: 500;
  margin-top: 21px;
  margin-left: 342px;
  padding-bottom: 4px;
  text-decoration: none;
  border-bottom: solid #23a0ff 2px;
}
.forgot-pass-link:hover {
  cursor: pointer;
}
/* Login button */
.login-button {
  width: 507.73px;
  height: 57.43px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #23a0ff;
  border: none;
  border-radius: 10px;
  margin-top: 47px;
}
.login-button:hover {
  cursor: pointer;
  color: #23a0ff;
  background-color: #fff;
  border: 2px solid #23a0ff;
}

/* Signup redirect */
.signup-redirect {
  margin-top: 51px;
  font-size: 18px;
  font-weight: 500l;
  color: #717171;
}
.signup-redirect a {
  text-decoration: none;
  color: #23a0ff;
}
/* ================================ */
/* Footer Section */
/* ================================ */
/* Footer top */
.footer-top {
  width: 100%;
  margin-top: 30px;
  height: max-content;
  background-color: #1d3140ff;
  display: flex;
  position: relative;
}
/* Footer-top contents */
/* Follow-section */
.follow-section {
  margin-top: 60px;
  margin-left: 8.54167vw;
}
.logo-footer {
  width: 67px;
  height: auto;
  margin-bottom: 29px;
}
.follow-head {
  font-weight: bold;
  color: #249ffe;
  margin-bottom: 38px;
}
.follow-body {
  color: #fff;
  font-size: 18px;
  margin-bottom: 18px;
}
.follow-links {
  display: flex;
  gap: 1.25vw;
}
.follow-buttons {
  background: none;
  border: none;
}
.follow-buttons:hover {
  cursor: pointer;
}
/* Support Section */
.support-section {
  margin-top: 58px;
  margin-left: 22.222vw;
}
.support-title {
  color: #249ffe;
  font-size: 18px;
  font-weight: bold;
}
.support-nav {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  font-size: 18px;
}
.support-links {
  text-decoration: none;
  color: #fff;
}
/* Contact Section */
.contact-section {
  margin-top: 58px;
  margin-left: 10.06944vw;
}
.contact-head {
  color: #249ffe;
  font-weight: bold;
  font-size: 18px;
}
.contact-body {
  color: #fff;
  font-size: 18px;
}
/* Location */
.location-group {
  display: flex;
  gap: 8px;
  margin-top: 15.5px;
  margin-bottom: 15.5px;
}
.location-logo {
  width: 15px;
  height: 20px;
}
/* Helpline */
.helpline-group {
  display: flex;
  gap: 8px;
  margin-top: 15.5px;
  margin-bottom: 15.5px;
}
/* Toll */
.toll-group {
  display: flex;
  gap: 8px;
  margin-top: 15.5px;
  margin-bottom: 15.5px;
}
/* Email */
.email-group {
  display: flex;
  gap: 8px;
  margin-top: 15.5px;
  padding-bottom: 59.5px;
}

/* Footer Bottom */
.footer-bottom {
  width: 100%;
  height: max-content;
  background-color: #112330ff;
  display: flex;
}
.copyright {
  color: #fff;
  font-size: 15px;
  margin-top: 32.5px;
  margin-left: 8.4722vw;
  margin-bottom: 29px;
}
.privacy-policy {
  text-decoration: none;
  color: #fff;
  margin-top: 32.5px;
  margin-left: 39.23vw;
  margin-bottom: 29px;
}
